/* Add your own styles */

table{
    margin-top: 30px;
    margin-bottom: 100px;
}
table td, table th{
    padding: 6px 10px;
    border: 1px solid black;
}

header h1{
    text-align: center;
}
#controls{
    text-align: center;
}

#country{
  margin-top: 20px;
  padding: 6px;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
  border: 0;
  border-radius: 5px;
  background-color: #aaa;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, sans-serif;
  cursor: pointer;
}

.btn-primary {
  background-color: #1fa3ec;
  margin-top: 20px;
}

.btn:hover {
  opacity: 0.85;
}